.navcontainer {
    margin-bottom: 0px;
    z-index: 1999;
    position: relative;
    background: rgb(255, 255, 255);

}

.topnav {
    padding: 20px auto;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(243,243,244);
}

.topnav-container {
    width: 100%;
    padding: auto 15px;
    margin: auto;
}

.topnav-row {
    display: flex;
    flex-wrap: wrap;
    margin: auto -15px;
    align-items: center;
}

.leftside {
    text-align: left;
    order: 2;
    max-width: 50%;
    flex: 0 0 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.centre {
    text-align: center;
    order: 1;
    margin-bottom: 1rem;
    max-width: 100%;
    flex: 0 0 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.rightside {
    text-align: right;
    order: 3;
    max-width: 50%;
    flex: 0 0 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}