* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --heights: 100vh;
  --widths: 100%;
}

.slider-container {
  height: var(--heights);
  width: var(--widths);
  position: relative;
  margin: auto;
  overflow: hidden;
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.slides {
  height: var(--heights);
  width: var(--widths);
  position: relative;
}

.slide-wrapper {
  grid-template-columns: none;
  grid-column-end: span 3;
  grid-row-end: span 6;
  background: coral;
}

.img-wrapper {
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 100%;
}

.slide-image {
  display: block;
    max-width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  /* height: 100%;
  position: absolute;
  object-fit: cover; */
}

.slide-title,
.slide-text {
  /* width: 100%;
  height: 100%; */
  color: black;
  font-size: 50px;
  /* position: absolute; */
  /* text-align: center; */
  /* top: 40%; */
  z-index: 10;
  /* background: coral; */
}

.slide-text {
  /* top: 65%; */
  font-size: 2rem;
}

.prev,
.next {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -3rem;
  font-size: 40px;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
}

.prev:hover,
.next:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in;
}

.next {
  right: 0;
  border-radius: 5px 0px 0px 5px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  .slide-wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column-end: span 6;
    grid-row-end: span 3;
    align-items: center;
    
  }

  .info-wrapper {
    padding-top: 24px;
    padding-left: 56px;
    padding-bottom: 56px;
    
  }
}

@media only screen and (min-width: 1024px) {
  .info-wrapper {
    padding-left: 66px;
  }
}